<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hb1</title>
</head>
    <body>
        <h1>Olá voce está aprendendo Express + HBS1</h1>
    </body>
</html>