<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Alguns professores do Icomp:</h2>
    <ol>
        <li>David Fernandes - Sala 1238</li>
        <li>Horacio Fernandes - Sala 1237</li>
        <li>Elaine Harada - Sala 1244</li>
    </ol>
   
</body>
</html>